/* styling head element */
.masthead {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem;
}
.masthead a:hover {
  text-decoration: underline;
}
.masthead a {
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.masthead .tagline {
  text-align: center;

  font-size: 14px;
}
.nav ul {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav ul li {
  margin-right: 1rem;
}
/* styling post inside root element */
.post,
.page {
  width: 100%;
  margin-bottom: 15px;
  padding: 30px;
}
.post .post-title,
.post .post-date,
.post .post-tags,
.post .post-content {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: normal;
}
/* styling post inside list element */
.posts-list,
.pages-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 2rem;
}
.posts-list .post,
.pages-list .page {
  display: block;
  flex-grow: 1;

  border: solid  2px;
  border-radius: 20px;
}
.posts-list .post .post-title a:hover,
.pages-list .page .page-title a:hover {
  text-decoration: underline;
}
.posts-list .post .post-title a,
.pages-list .page .page-title a {
  text-decoration: none;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
/* styling footer element */
.footer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;

  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}
.footer .footer-text {
  text-align: center;

  font-size: 14px;
}
.footer #sort {
  padding: 1rem;

  text-transform: uppercase;
}
.footer #search {
  padding: 1rem;

  border: 1px solid;
  border-radius: 20px;
  outline: none;

  font-size: 20px;
  line-height: 1.2;
}
