<h1>{{ .Title }}</h1>
<p>
    Price: <span class="product-compare-price"style="text-decoration: line-through">{{ .Params.comparePrice }}</span><br>
    Promo: <span class="product-actual-price">{{ .Params.actualPrice }}</span><br>
    Stock: <span class="product-not-in-stock" class="font-weight-bold" {{ if .Params.inStock }} style="display:none" {{end}}> Sold Out</span>
</p>
<p>
    {{ range $index, $element := .Params.options }}
    <span>{{ $index | humanize }}: </span>
    <select class="product-select select-{{ $index }} px-3 py-2 bg-white text-black rounded border-gray-200 border-2 ">
       {{ range $element  }}
        <option>{{ . }}</option>
      {{ end }}
    </select>
    {{ end }}
</p>
