<a class="w-1/3 no-underline relative card" href="{{ .RelPermalink }}">
    <img class="lazyload w-full h-full text-center absolute top-0 left-0 bottom-0 right-0" data-src="{{ .Params.thumbnailImage | absURL }}"  />
    <div class="absolute left-0 bottom-0 right-0 max-w-full text-left p-5 card-text">
        <span class="text-sm text-white font-bold">{{ .Params.title }}</span>
        <br/>
        <span class="text-base text-white">
            {{ if .Params.actualPrice }}
                {{ $.Scratch.Set "minimumPrice" (.Params.actualPrice | string) }}
            {{ else }}
                {{ $.Scratch.Set "minimumPrice" "999999999999999"}}
            {{ end }}
            {{ if .Params.inStock }}
                {{ $.Scratch.Set "inStock" (.Params.inStock | string) }}
            {{ else }}
                {{ $.Scratch.Set "inStock" "false" }}
            {{ end }}
            {{ range .Params.variants }}
                {{ $variantActualPrice := (.actualPrice | replaceRE "[^0-9.]+" "" | float )  }}
                {{ $actualPrice := ($.Scratch.Get "minimumPrice" | replaceRE "[^0-9.]+" "" | float) }}
                {{ if lt $variantActualPrice $actualPrice }}
                    {{ $.Scratch.Set "minimumPrice" (.actualPrice | string)}}
                    {{ $.Scratch.Set "isMinimumVariantPrice" "true"}}
                {{ end }}
                {{ if .inStock }}
                    {{ $.Scratch.Set "inStock" "true" }}
                {{ end }}
            {{ end }}
            {{ if eq ($.Scratch.Get "isMinimumVariantPrice") "true" }} From {{ end }}
            {{ $.Scratch.Get "minimumPrice" }}
            {{ if not (eq ($.Scratch.Get "inStock") "true")}} <span class="font-weight-bold">— Sold Out</span> {{ end }}
        </span>
    </div>
</a>
